.ctx-qrcode_container{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 128px;
    height: 150px;
    background: #fff;
    z-index: 9999;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}
.ctx-qrcode_solt{
    width: 128px;
    height: 128px;
}
.ctx-qrcode_footer {
    width: 100%;
    color: #999;
    font-size: 12px;
    text-align: center;
    font-size: 8px;
}